name: Spelling
on:
  merge_group:
  pull_request:
  push:
    branches: main

# Cancel previous runs of this workflow when a new commit is added to the PR, branch or tag
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check spelling
    runs-on: github-hosted-small
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
